.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.label span {
    color: #8b949e;
    text-align: start;
}

input[type="range"] {
  width: 99%;
  height: 4px;
  background: #30363d;
  border-radius: 2px;
  outline: none;
  appearance: none;
  cursor: pointer;
  transition: background 0.2s;
}

input[type="range"]:hover {
  background: #484f58;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: #58a6ff;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #161b22;
  transition: transform 0.1s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background: #79c0ff;
}

input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #58a6ff;
  border: 2px solid #161b22;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.1s;
}

input[type="range"]::-moz-range-thumb:hover {
  transform: scale(1.2);
  background: #79c0ff;
}

.label:has(input[type="range"]:disabled) {
  opacity: 0.5;
}

input[type="range"]:disabled {
  opacity: 0.5;
}

input[type="range"]::-moz-range-track {
  background: transparent;
  border: none;
}
